<template name="layout">
	<div class="container"> <!--bootstrap container to work, should be in the container -->
		<ul class="nav nav-pills">
    <li role="presentation" class="active"> <a href={{pathFor 'home'}} ><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a> </li>
  	<li role="presentation"><a href={{pathFor 'about'}}>About</a></li>
  	<li role="presentation"><a href={{pathFor 'comments'}}>Comments</a></li>
    <li role="presentation"><a href={{pathFor 'houses'}}>Houses</a></li>

  	
      <div style="text-align:right">
  		{{> loginButtons}}
    </div>
  	
  	
	</ul>
	{{> yield}} <!-- show templates?????-->
	</div>
</template>